<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"},"style":{"spacing":{"padding":{"top":"var:preset|spacing|7","bottom":"var:preset|spacing|9"}}}} -->
<main class="wp-block-group">

  <!-- wp:post-featured-image {"aspectRatio":"16/9","align":"wide","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|7"}}}} /-->

  <!-- wp:post-title {"fontSize":"4xl","fontFamily":"serif","className":"theme-section-title"} /-->

  <!-- wp:group {"layout":{"type":"flex","flexWrap":"wrap","verticalAlignment":"center"},"style":{"spacing":{"blockGap":"var:preset|spacing|4","margin":{"top":"var:preset|spacing|4","bottom":"var:preset|spacing|6"}}}} -->
  <div class="wp-block-group">
    <!-- wp:post-author {"showAvatar":false,"textColor":"muted","fontSize":"sm"} /-->
    <!-- wp:post-date {"textColor":"muted","fontSize":"sm"} /-->
    <!-- wp:post-terms {"term":"category","textColor":"primary","fontSize":"sm"} /-->
  </div>
  <!-- /wp:group -->

  <!-- wp:separator {"backgroundColor":"border","className":"is-style-wide"} -->
  <hr class="wp-block-separator has-text-color has-border-color has-alpha-channel-opacity has-border-background-color has-background is-style-wide"/>
  <!-- /wp:separator -->

  <!-- wp:post-content {"layout":{"type":"constrained"},"style":{"spacing":{"margin":{"top":"var:preset|spacing|6"}}}} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
